{% csrf_token %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
   <title>Django</title>
</head>

<body>
   <a href="/">Voltar para Home</a>
   <br><br>
   <hr />
   <table>
         <h1>Cadastro do produto</h1>
         {% if produto %}
         {% for i in produto %}
         <form action="/novo_produto/" method="post">
          {% csrf_token %}
            <input type="number" name="id" value="{{ i.id }}" hidden>
            <input type="text" name="nome" value="{{ i.nome }}" required>
            <input type="text" name="descricao" value="{{ i.descricao }}">
            <input type="number" name="preco" value="{{ i.preco }}">
            <input type="submit" name="enviar" value="Salvar">
         </form>
         {% endfor %}
         {% else %}
         <form action="/novo_produto/" method="post">{% csrf_token %}
            <input type="number" name="id" value="-1" hidden>
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="text" name="descricao" placeholder="descricao">
            <input type="number" name="preco" placeholder="Preço">
            <input type="submit" name="enviar" value="Salvar">
         </form>
         {% endif %}
   </table>

   <br>
   <hr /><br><br>
   <ul>
         <p>Produtos na tabela</p>
         {% for i in list %}
         <tr>
            <td><b>Nome:</b> {{ i.nome }}</td>
            <td><b>Descricao:</b> {{ i.descricao }}</td>
            <td><b>Preço:</b> {{ i.preco }}</td>
            <td><a href="/deletar_produto/?id={{ i.id }}">Deletar</a></td>
            <td><a href="/atualizar_produto/?id={{ i.id }}">Alterar</a></td>
            <br>
         </tr>
         {% endfor %}

      </table>
   </ul>
</body>

</html>